---
import BrandGithub from '@tabler/icons/outline/brand-github.svg';
import BrandTwitch from '@tabler/icons/outline/brand-twitch.svg';
import BrandTwitter from '@tabler/icons/outline/brand-twitter.svg';
import BrandLinktree from '@tabler/icons/outline/brand-linktree.svg';

import Shrunk from './Shrunk/index.svelte';
import HeaderLink from './HeaderLink.svelte';
import IconLink from './IconLink.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<header>
	<nav class="nav">
		<span class="title-image">
			<a class="logolink" href="/" rel="prefetch">
				🌏
				<!-- <img alt="Profile" class="monogram" src={ProfilePicture.src} /> -->
			</a>
			<h2><Shrunk long={title} client:load /></h2>
		</span>
		<!-- TODO: Add headerlinks on mobile screens -->
		<Shrunk hide="portrait" client:load>
			<HeaderLink class="link" href="/about"><h3>About</h3></HeaderLink>
			<HeaderLink class="link" href="/projects"><h3>Projects</h3></HeaderLink>
		</Shrunk>
		<span class="links-container">
			<IconLink title="GitHub" url="github.com/jewlexx" icon={BrandGithub} />
			<IconLink title="Twitch" url="twitch.tv/digifem" icon={BrandTwitch} />
			<IconLink title="Twitter" url="twitter.com/jewelexx" icon={BrandTwitter} />
			<IconLink title="Linktree" url="linktr.ee/jewelexx" icon={BrandLinktree} />
		</span>
	</nav>
</header>

<style lang="scss">
	@use '../styles/transitions';
	@use '../styles/palette' as *;

	.title-image {
		display: flex;
		align-items: center;

		.logolink {
			display: block;
			color: $t-fg;
			text-decoration: none;

			font-size: 2.5rem;
			/* border: 5px solid black; */
			/* background-color: white; */
			border-radius: 100%;
			/* padding: 0.25rem; */
			margin-right: 1rem;

			// Only enable motion if the user has no preference
			@include transitions.springy-transform(500ms);

			&:hover {
				transform: scale(1.2);
			}

			img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 2em;
				height: 2em;
				margin-right: 0.5rem;
				color: $black;
				font-weight: 900;
				letter-spacing: -0.125rem;
				border: 3px solid currentColor;
				border-radius: 50%;
			}
		}
	}

	.nav {
		/* From https://css.glass */
		background: rgba(255, 255, 255, 0.1);
		border-radius: 16px;
		box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(5.8px);
		-webkit-backdrop-filter: blur(5.8px);
		border: 1px solid rgba(255, 255, 255, 0.29);

		margin: 1rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 1rem;
		padding-right: 2rem;
		padding-bottom: 1rem;
		padding-left: 2rem;
	}

	/* .link {
		color: $t-subdue;
		display: block;
		margin-left: 1rem;
		text-decoration: none;
		font-size: $f-d1;
		text-transform: uppercase;
		padding-top: 0.75em;
		padding-bottom: 0.75em;
		&:focus,
		&:hover {
			color: $t-active;
		}
	} */

	.monogram {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 2em;
		height: 2em;
		margin-right: 0.5rem;
		color: $black;
		font-weight: 900;
		letter-spacing: -0.125rem;
		border: 3px solid currentColor;
		border-radius: 50%;
	}

	.links-container {
		display: flex;
	}
</style>
