---
export const prerender = false;
import '@fontsource/ibm-plex-mono';

import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
// TODO: A better solution than this
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <script>
			const pathname = new URL(window.location.href).pathname;
			document.getElementById('pathname')!.innerHTML = `${pathname} could not be found. <br /> It probably doesn't exist...`;
		</script> -->
		<main class="terminal">
			<p class="terminal-output">$ curl {Astro.url}</p>
			<p class="terminal-output">Something went horribly wrong</p>
			<p id="pathname" class="terminal-output">
				{Astro.url.pathname} had an oopsie on our end.
			</p>
			<p class="terminal-output">
				To return to a page that does work (hopefully :D), go to
				<br /><a href={Astro.site}>{Astro.site}</a>
			</p>
			<p class="terminal-output">
				If you call a support person, give them this info:
				<br />Stop Code: 500 INTERNAL SERVER ERROR
			</p>
			<p>$ catsay 500</p>
			<img src="https://http.cat/500.jpg" alt="500 cat image" />
		</main>
		<style lang="scss">
			@use '../styles/transitions';

			body {
				font-family: 'IBM Plex Mono', monospace !important;
				background: #000000 !important;
				color: #fefeff !important;
				height: 100vh !important;
				margin: 1em !important;
			}

			.terminal {
				p,
				a {
					color: #00ff00;
					text-shadow:
						0 0 10px #00ff00,
						0 0 25px #2aec2a;
				}

				a {
					&:hover {
						color: darken(#00ff00, 10%);
					}
				}
			}
		</style>
	</body>
</html>
