---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.svelte';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

interface ExtraProps {
	slug: string,
}
type Props = CollectionEntry<'projects'>['data'] & ExtraProps;

const { title, description, heroImage, repo, homepage, slug, shields } = Astro.props;

const pageTitle = `${title} | Juliette's Projects`;
---

<html lang="en">
	<head>
		<BaseHead title={pageTitle} description={description} />
	</head>

	<body>
		<Header client:load title={pageTitle} shortTitle={slug} />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<!-- <FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							} -->
						</div>
						<h1>{title}</h1>
						{shields &&
							(<p class="shields">
								{shields?.map((shield) =>
									<a href={shield.href}><img src={shield.src} alt={shield.alt} /></a>
								)}
							</p>)
						}
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style lang="scss">
main {
	width: calc(100% - 2em);
	max-width: 100%;
	margin: 0;
}
.hero-image {
	width: 100%;

	img {
		display: block;
		margin: 0 auto;
		border-radius: 12px;
		box-shadow: var(--box-shadow);
	}
}
.prose {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));
}
.title {
	margin-bottom: 1em;
	padding: 1em 0;
	text-align: center;
	line-height: 1;

	h1 {
		margin: 0 0 0.5em 0;
	}
}
.date {
	margin-bottom: 0.5em;
	color: rgb(var(--gray));
}
.last-updated-on {
	font-style: italic;
}

.shields {
	a {
		margin-right: 0.5rem;
	}
}
</style>